@charset "UTF-8";
:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --icon-team-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

p,
h2,
h3 {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: var(--accent-color);
}

*   {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  transition: var(--animation);
}
.hero-btn:hover, .hero-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  transition: var(--animation);
}
.form-btn:hover, .form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ========ЛОГО ХЕДЕРА======= */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* ========НА ФУТЕР ЛОГО======= */
.logo-theme-dark {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.logo-theme-light {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--animation);
  min-height: 581px;
  min-width: 528px;
  background: #ffffff;
  box-shadow: var(--shadow-for-modal);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.button-close {
  display: flex;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-close-modal {
  width: 100%;
  height: 100%;
  fill: #000;
  transition: var(--animation);
}
.icon-close-modal:hover, .icon-close-modal:focus {
  fill: var(--accent-color);
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.top-title {
  margin-top: 12px;
}

.form-label,
.comment-label {
  display: flex;
  justify-content: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 4px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 11px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);
  cursor: pointer;
}
.form-input:hover, .form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.input-icon {
  position: absolute;
  bottom: 14px;
  left: 14px;
  width: 18px;
  height: 18px;
  transition: var(--animation);
}
.form-input:hover ~ .input-icon, .form-input:focus ~ .input-icon {
  fill: var(--accent-color);
}

textarea {
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);
  cursor: pointer;
  resize: none;
}
textarea:hover, textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.form-field-chek {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.policy-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
}

.checkbox {
  display: inline-block;
  align-items: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.policy-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.policy-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.form-icon-policy {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  box-sizing: border-box;
  border-radius: 2px;
}
.checkbox:checked + .form-icon-policy {
  background: #2196f3;
  border: none;
  transition: var(--animation);
}
.form-icon-policy:focus {
  border-color: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
  margin-bottom: 0;
  margin-top: 0;
}

.menu-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--animation);
}
.menu-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: var(--animation);
}
.menu-link:hover::after {
  display: block;
}

.menu-link:hover,
.menu-link:focus,
.current {
  color: var(--accent-color);
}

.menu-item {
  margin-left: 50px;
}
.menu-item:first-child {
  margin-left: 0;
}
.menu .menu-item:last-child {
  margin-right: 0;
}
.contact-nav .menu-item + .menu-item {
  margin-left: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-flex {
  display: flex;
}

.header-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: var(--animation);
}
.contact-mail:hover, .contact-mail:focus {
  color: var(--accent-color);
}
.menu-item .contact-mail {
  display: flex;
}

.contact-number-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: var(--animation);
}
.contact-number-phone:hover, .contact-number-phone:focus {
  color: var(--accent-color);
}
.menu-item .contact-number-phone {
  display: flex;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  max-width: 694px;
}

.services-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.item {
  margin-right: 30px;
}
.item:last-child {
  margin-right: 0;
}
.item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.services-icon-bg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.what-we-do-section {
  padding-bottom: 94px;
}

.services-container {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.services-element {
  width: 370px;
  margin-right: 30px;
}
.services-element:last-child {
  margin-right: 0;
}
.services-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  width: 270px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
  width: 270px;
}

.thumb {
  position: relative;
}

.image-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: inherit;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.image-name-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
}

.about-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-container {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.title-description {
  margin-bottom: 50px;
}

.about-element {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.about-element:last-child {
  margin-right: 0;
}
.about-element:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.about-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.subtitle-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.description-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-right: 32px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.team-soc-item:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  fill: var(--icon-team-color);
  transition: var(--animation);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  fill: white;
}

.section-customers {
  padding: 94px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.customers-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-team-color);
  border-radius: 4px;
  fill: var(--icon-team-color);
  transition: var(--animation);
}
.customers-link:hover, .customers-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

/* ========FILTTER PORTFOLIO======= */
.filter-container {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin-bottom: 50px;
}

.section-portfolio {
  padding: 94px 0;
}

.filter-element {
  margin-right: 8px;
}

.btn-name {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--primary-text-color-theme-dark);
  transition: var(--animation);
}
.btn-name:hover, .btn-name:focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========PORTFOLIO======= */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.portfolio-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: var(--animation);
}
.portfolio-element:hover, .portfolio-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-element:nth-child(3n) {
  margin-right: 0;
}
.portfolio-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-overlay {
  overflow: hidden;
  position: relative;
}
.portfolio-overlay:hover::before {
  opacity: 1;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}
.portfolio-element:hover .overlay-wrapper {
  transform: translateY(0);
}

.portfolio-overlay-contents {
  min-width: 322px;
  min-height: 168px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--animation);
}
.portfolio-overlay-contents:hover {
  opacity: 1;
}

.portfolio-overlay-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.border-card {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.subtitle-portfolio {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
}

.description-portfolio {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.footer {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-address {
  padding: 0;
  margin: 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-contact {
  margin-bottom: 9px;
  margin-right: 70px;
}

.contact-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-text-color-theme-light);
}

.contact-addres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-text-color-theme-light);
  margin-right: 70px;
  transition: var(--animation);
}
.contact-addres:hover, .contact-addres:focus {
  color: var(--accent-color);
}

/* ========footer-soc-link======= */
.third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #fff;
}

.footer-soc-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  fill: #fff;
  transition: var(--animation);
}
.footer-soc-link:focus, .footer-soc-link:hover {
  background-color: var(--accent-color);
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.footer-soc {
  padding-top: 12px;
}

/* ========FOOTER-FORM======= */
.footer-submit {
  width: 570px;
  height: 86px;
  margin-left: 94px;
}

.footer-submit-text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.footer-submit-input {
  width: 358px;
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: var(--primary-text-color-theme-light);
  transition: var(--animation);
}
.footer-submit-input:hover, .footer-submit-input:focus {
  border: 1px solid #2196f3;
}
.footer-submit-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  padding: 8px 28px;
  margin-left: 10px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-light);
  transition: var(--animation);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.footer-submit-btn:hover, .footer-submit-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-submit-icon {
  margin-left: 7px;
}/*# sourceMappingURL=main.css.map */