.customers {
  padding: 94px;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-team-color);
  border-radius: 4px;
  fill: var(--icon-team-color);
  transition: var(--animation);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
