.hero-btn {
  font-family: var(--primary-font-family);
  @include font($fw: 700, $fs: 16px, $lh: 1.87, $ls: 0.06em);
  cursor: pointer;
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  transition: var(--animation);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.form-btn {
  font-family: var(--primary-font-family);
  @include font($fw: 700, $fs: 16px, $lh: 1.87, $ls: 0.06em);
  cursor: pointer;

  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px;
  min-width: 200px;
  transition: var(--animation);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
